*,
*:after,
*:before {
  padding: 0;
  margin: 0;
  box-sizing: border-box;
}
body {
  position: relative;
  font-family: "Inter", sans-serif;
  transition: all 0.4s;
  -webkit-transition: all 0.4s;
  -moz-transition: all 0.4s;
  -ms-transition: all 0.4s;
  -o-transition: all 0.4s;
  @media (max-width: 580px) {
    &.lock {
      overflow: hidden;
      background-color: #00000020;
      transition: all 0.3s;
      -webkit-transition: all 0.3s;
      -moz-transition: all 0.3s;
      -ms-transition: all 0.3s;
      -o-transition: all 0.3s;
      z-index: 10;
    }
  }
}
.ibg {
  background-repeat: no-repeat;
  background-size: cover;
  background-position: center;
}
.ibg img {
  display: none;
}
a {
  display: inline-block;
  text-decoration: none;
}
.container {
  max-width: 1110px;
  padding: 0 20px;
  margin: 0 auto;

  @media (max-width: 580px) {
    padding: 0 10px;
  }
}

.header {
  position: relative;
  display: flex;
  align-items: center;
  height: 60px;
  margin: 80px 0 0 0;

  @media (max-width: 580px) {
    margin: 20px 0 0 0;
  }
  &-img {
    flex: 1 1 auto;
    img {
      display: block;
    }
  }
  &-menu {
    ul {
      display: flex;

      li {
        list-style-type: none;

        &:not(:last-of-type) {
          margin: 0 40px 0 0;
        }
        a {
          font-weight: 400;
          color: hsl(236, 13%, 42%);
        }
      }
    }
    @media (max-width: 580px) {
      display: none;
      position: absolute;
      right: -100%;

      &.active {
        display: flex;
        align-items: center;
        width: 75%;
        padding: 0px 25px;
        height: 100vh;
        right: -10px;
        top: -20px;
        z-index: 2;
        background-color: hsl(36, 100%, 99%);

        ul {
          display: block;
          margin: 0 0 100px 0;
          li {
            &:not(:last-of-type) {
              margin: 0 0px 30px 0;
            }
            a {
              color: hsl(240, 100%, 5%);
            }
          }
        }
      }
    }
  }
  &-burger {
    display: none;
    position: relative;
    width: 40px;
    height: 15px;
    z-index: 10;
    span {
      position: absolute;
      left: 0;
      top: 50%;
      width: 100%;
      height: 3px;
      background-color: hsl(240, 100%, 5%);
      transform: translate(0, -50%);
      -webkit-transform: translate(0, -50%);
      -moz-transform: translate(0, -50%);
      -ms-transform: translate(0, -50%);
      -o-transform: translate(0, -50%);
      transition: all 0.2s ease 0s;
      -webkit-transition: all 0.2s ease 0s;
      -moz-transition: all 0.2s ease 0s;
      -ms-transition: all 0.2s ease 0s;
      -o-transition: all 0.2s ease 0s;
    }
    &::before,
    &::after {
      content: "";
      position: absolute;
      left: 0;
      width: 100%;
      height: 3px;
      background-color: hsl(240, 100%, 5%);
      transition: all 0.2s ease 0s;
    }
    &::before {
      top: 0;
    }
    &::after {
      bottom: 0;
    }
    @media (max-width: 580px) {
      display: block;

      &.active {
        span {
          transform: scale(0);
          transition: all 0.2s;
          -webkit-transition: all 0.2s;
          -moz-transition: all 0.2s;
          -ms-transition: all 0.2s;
          -o-transition: all 0.2s;
          -webkit-transform: scale(0);
          -moz-transform: scale(0);
          -ms-transform: scale(0);
          -o-transform: scale(0);
          transition: all 0.2s ease 0s;
        }
        &::before {
          transform: rotate(45deg);
          top: 9px;
          -webkit-transform: rotate(45deg);
          -moz-transform: rotate(45deg);
          -ms-transform: rotate(45deg);
          -o-transform: rotate(45deg);
        }
        &::after {
          transform: rotate(-45deg);
          top: 9px;
          -webkit-transform: rotate(-45deg);
          -moz-transform: rotate(-45deg);
          -ms-transform: rotate(-45deg);
          -o-transform: rotate(-45deg);
        }
      }
    }
  }
}
.content {
  margin: 35px 0 0 0;
  &-web {
    display: flex;

    &__3 {
      flex: 0 1 65%;
    }
    &__news {
      margin: 0 0 0 30px;
      padding: 25px 20px;
      flex: 0 0 35%;
      background-color: #00001a;

      &--title {
        font-size: 30px;
        color: hsl(35, 77%, 62%);
      }
    }
    &__img {
      position: relative;
      padding: 150px 0;
      img {
        position: absolute;
        width: 100%;
        height: 100%;
        left: 0;
        top: 0;
      }
    }
    &__info {
      display: flex;

      &--title {
        flex: 0 1 50%;
        font-weight: 800;
        font-size: 48px;
        padding: 0 30px 0 0;
        margin: 30px 0 0 0;
        line-height: 50px;
      }
      &--text {
        flex: 0 1 50%;
        margin: 25px 0 0 0;
        p {
          line-height: 22px;
          font-size: 15px;
          color: hsl(236, 13%, 42%);
        }
        a {
          margin: 35px 0 0 0;
          height: 45px;
          line-height: 45px;
          background-color: hsl(5, 85%, 63%);
          color: hsl(36, 100%, 99%);
          padding: 0 30px;
          font-weight: 400;
          letter-spacing: 3px;
          font-size: 15px;
        }
      }
    }
    @media (max-width: 580px) {
      display: block;

      &__info {
        display: block;
      }
      &__news {
        margin: 60px 0 0 0;
      }
    }
  }
  &-sequence {
    padding: 72px 0;
    &__row {
      display: flex;
      margin: 0 -21px;

      @media (max-width: 768px) {
        margin: 0 -10px;
      }
      @media (max-width: 650px) {
        flex-wrap: wrap;
      }
    }
    &__item {
      padding: 0 21px;
      display: flex;
      &__img {
        padding: 65px 0;
        min-width: 100px;
        img {
          position: absolute;
          width: 100%;
          height: 100%;
          left: 0;
          top: 0;
        }
      }
      &__info {
        padding: 0 0 0 25px;

        &--head {
          font-size: 32px;
          color: hsl(233, 8%, 79%);
        }
        &--title {
          margin: 10px 0;
          font-size: 18px;
          font-weight: 800;
          color: hsl(240, 100%, 5%);
        }
        &--text {
          font-size: 15px;
          line-height: 28px;
          color: hsl(236, 13%, 42%);
        }
        @media (max-width: 768px) {
          padding: 0 0 0 15px;
        }
      }
      @media (max-width: 768px) {
        padding: 0 10px;
      }
      @media (max-width: 650px) {
        &:not(:last-of-type) {
          margin: 0 0 35px 0;
        }
      }
    }
  }
}
.news-item {
  padding: 30px 0;

  &:not(:last-of-type) {
    border-bottom: 1px solid hsl(233, 8%, 79%);
  }
  &__topic {
    margin: 0 0 10px 0;
    color: hsl(36, 100%, 99%);
  }
  &__text {
    line-height: 30px;
    color: hsl(233, 8%, 79%);
  }
}
